* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    color: white;

}

html,
body {
    height: 100%;
    width: 100%;

}

body {}


#main {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(90deg, #6e34c0, #6435b8, #3e74a2, #2e9b80); */
    background: linear-gradient(90deg, #250f40, #1f1042, #122330, #0d2f26);


}


#nav {
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}


#nav>h1:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #9945FF, #8752F3, #5497D5, #43D9AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s linear;
}

#nav i:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #9945FF, #8752F3, #5497D5, #43D9AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

#nav-2 a {
    text-decoration: none;
}

#nav h1 {
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#nav i {
    font-size: 20px;
    margin-right: 5px;
}

#nav h5 {
    
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    /* gap: 30px; */
    /* margin: 30px; */
    /* padding: 30px; */
}

#nav h5:hover {
    background: linear-gradient(90deg, #9945FF, #8752F3, #5497D5, #43D9AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav img {
    height: 70px;

}

#line {
    width: 80px;
    height: 2px;
    background: linear-gradient(90deg, #9945FF, #19FB9B, #00FFFF);
}

#content {
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    position: relative;

}

#left {
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 160px 80px;
}

#left button:hover {
    cursor: pointer;
}

#right {
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 340px 140px;
}

#center {
    width: 26%;
    height: 100%;
    /* background-color: red; */
    padding-top: 60px;
}

#left h1 {
    font-size: 75px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 50px;

}

#left h1:hover {

    background: linear-gradient(90deg, #9945FF, #8752F3, #5497D5, #43D9AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: context-menu;
    /* transition: all color 2s; */
}

#left h1:hover span {
    -webkit-text-fill-color: #fff;
    color: #fff;
    background: none;

}

#left span {
    background: linear-gradient(90deg, #9945FF, #8752F3, #5497D5, #43D9AD);
    /* font-weight: 500; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* for Firefox */
    font-weight: 700;
    padding: 2px;


}



#left p {
    margin-bottom: 50px;
    font-size: 18px;
    width: 70%;
    line-height: 22px;
}

#left button {
    background: linear-gradient(90deg, #9945FF, #8752F3, #5497D5, #43D9AD);
    background-size: 200% auto;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 700;
    background-position: center center;
    transition: background-position 0.5s ease;
}

#left button:hover {
    background-position: right center;
    /* move gradient on hover */
}

#left button i {
    margin-right: 10px;
}

#centerbg {
    /* background-color: blue; */
    height: 88%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://crypto.news/app/uploads/2024/12/crypto-news-Solanas-DEX-transactions-belong-to-Pump.fun-option02.webp);
    background-size: 100%;
    background-position: 30% 40%;
    filter: blur(3px);
    animation: zoomInfinite 20s linear infinite;
}

@keyframes zoomInfinite {
    0% {
        background-size: 100%;
        background-position: 30% 40%;
    }

    100% {
        background-size: 230%;
        background-position: 50% 50%;
    }
}

#nen {

    filter: drop-shadow(0 0 8px #c800ff)
        /* drop-shadow(0 0 10px #c800ff) */
        drop-shadow(0 0 8px #c800ff);
    animation: purpleGlow 3.5s ease-in-out infinite;

}

@keyframes purpleGlow {
    0% {
        filter: drop-shadow(0 0 3px #8000ff) drop-shadow(0 0 6px #8000ff);
    }

    50% {
        filter: drop-shadow(0 0 5px #c800ff) drop-shadow(0 0 10px #c800ff);
    }

    100% {
        filter: drop-shadow(0 0 3px #8000ff) drop-shadow(0 0 6px #8000ff);
    }
}

/* 0% {
    filter: drop-shadow(0 0 10px #c800ff)
            drop-shadow(0 0 20px #c800ff)
            drop-shadow(0 0 30px #c800ff);
  }
  50% {
    filter: drop-shadow(0 0 10px #d14cff)
            drop-shadow(0 0 10px #d14cff)
            drop-shadow(0 0 10px #d14cff);
  }
  100% {
    filter: drop-shadow(0 0 10px #c800ff)
            drop-shadow(0 0 10px #c800ff)
            drop-shadow(0 0 10px #c800ff);
  }
} */
#content>img {
    height: 85%;
    top: 15%;
    position: absolute;
    left: 50%;

    z-index: 99;
    transform: translate(-50%, 0);
}

#right-elems {
    /* background-color: red; */
    width: 350px;
}

#elem1 {
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 1px solid white;
}

#elem1 button {
    color: white;
    background-color: transparent;
    border: 0px solid;
    font-size: 24px;
}

#elem1 :hover {
    cursor: pointer;
}

#elem1 h1 {
    font-size: 24px;
    font-weight: 600;
}

#elem1 i {
    font-size: 24px;
}

#elem2 h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}

#elem2 p {
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}